In [3]:
import pandas as pd


data = pd.read_excel('data/idea_export_voter_turnout_database_region.xlsx')

In [86]:
data = pd.read_excel('data/DatabankWide.xlsx')

In [4]:
data = pd.read_csv('data/wgm_full_wave2_public_file_final (1)_csv.csv')

C:\Users\seth\AppData\Local\Temp\ipykernel_25652\1185356719.py:1: DtypeWarning: Columns (9,11,13,20,31,32,33,34,35,36,37,39,40,41,42,43,44,45,47,71,72,73,74,75,76,84,88) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/wgm_full_wave2_public_file_final (1)_csv.csv')

In [10]:
data = pd.read_csv('data/diabetes_012_health_indicators_BRFSS2015.csv')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [12]:
data.shape

(253680, 22)

In [9]:
data

,COUNTRYNEW,WPID_RANDOM,WGT,PROJWT,FIELD_DATE,YEAR_WAVE,W1,W2,W3,W4,...,age_var1,age_var2,age_var3,Gender,Education,Household_Income,Global11Regions,wbi,Subjective_Income,EMP_2010
0,United States,178216898,0.803440,211560.297000,10/01/2020,2020,2,1,2,2,...,3,4,4,2,2,5,9,4,2,6
1,United States,159107018,0.729590,192114.267400,10/01/2020,2020,1,1,3,1,...,1,1,1,1,3,4,9,4,1,1
2,United States,203166417,0.848559,223440.987100,10/01/2020,2020,1,1,3,1,...,1,1,2,1,3,4,9,4,1,1
3,United States,201061719,0.341083,89813.417720,10/01/2020,2020,2,1,3,2,...,3,3,4,2,3,4,9,4,2,1
4,United States,195404162,0.995933,262247.166300,10/01/2020,2020,3,1,2,1,...,2,2,3,1,2,2,9,4,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119083,Kosovo,201030063,0.250480,312.414031,12/01/2020,2020,2,2,3,2,...,1,1,2,2,3,5,2,3,1,1
119084,Kosovo,117528235,0.188637,235.279337,12/01/2020,2020,2,1,2,1,...,1,1,1,2,3,3,2,3,2,6
119085,Kosovo,152050010,0.191664,239.054757,12/01/2020,2020,1,1,3,3,...,1,1,1,1,3,5,2,3,1,2
119086,Kosovo,111183978,0.173042,215.827630,12/01/2020,2020,3,1,3,3,...,1,1,2,1,3,5,2,3,2,1
119087,Kosovo,186948831,0.131784,164.369055,12/01/2020,2020,1,2,3,3,...,2,2,2,1,3,5,2,3,2,1

In [8]:
data.isna().sum()

COUNTRYNEW           0
WPID_RANDOM          0
WGT                  0
PROJWT               0
FIELD_DATE           0
                    ..
Household_Income     0
Global11Regions      0
wbi                  0
Subjective_Income    0
EMP_2010             0
Length: 89, dtype: int64

In [87]:
data

,Country name,Country code,Year,Adult populaiton,Region,Income group,Account (% age 15+),Financial institution account (% age 15+),First financial institution account ever was opened to receive a wage payment or money from the government (% age 15+),First financial institution account ever was opened to receive a wage payment (% age 15+),...,"Used a mobile phone or the internet to access an account, young (% ages 15-24)","Used a mobile phone or the internet to access an account, older (% age 25+)","Used a mobile phone or the internet to access an account, primary education or less (% ages 15+)","Used a mobile phone or the internet to access an account, secondary education or more (% ages 15+)","Used a mobile phone or the internet to access an account, income, poorest 40% (% ages 15+)","Used a mobile phone or the internet to access an account, income, richest 60% (% ages 15+)","Used a mobile phone or the internet to access an account, rural (% age 15+)","Used a mobile phone or the internet to access an account, urban (% age 15+)","Used a mobile phone or the internet to access an account, out of labor force (% age 15+)","Used a mobile phone or the internet to access an account, in labor force (% age 15+)"
0,Afghanistan,AFG,2011,1.512447e+07,South Asia,Low income,0.090050,0.090050,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2014,1.730080e+07,South Asia,Low income,0.099610,0.099610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,2017,1.971821e+07,South Asia,Low income,0.148933,0.145471,NaN,NaN,...,0.00000,0.014690,0.003958,0.022650,0.003607,0.012820,NaN,NaN,0.000548,0.017173
3,Afghanistan,AFG,2021,2.264750e+07,South Asia,Low income,0.096538,0.096538,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,2011,2.258900e+06,Europe & Central Asia (excluding high income),Upper middle income,0.282681,0.282681,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,Sub-Saharan Africa (excluding high income),SSA,2021,6.587700e+08,Sub-Saharan Africa (excluding high income),NaN,0.550697,0.396974,0.183956,0.159863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,World,WLD,2011,5.051902e+09,NaN,NaN,0.506275,0.506275,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,World,WLD,2014,5.267620e+09,NaN,NaN,0.619237,0.611153,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,World,WLD,2017,5.488624e+09,NaN,NaN,0.684983,0.671033,NaN,NaN,...,0.22863,0.252606,0.116583,0.355014,0.166880,0.302514,NaN,NaN,0.144359,0.306314
657,World,WLD,2021,5.776585e+09,NaN,NaN,0.761956,0.739735,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
data = pd.read_csv('data/3i-survey-data-2022.csv', encoding='latin1')

In [83]:
data = pd.read_csv('data/sosc_2022_10_19_codebook_aggregate.csv')

In [59]:
data = pd.read_csv('data/countries-countries-fb-social-connectedness-index-october-2021.tsv', sep='\t')

In [84]:
data.shape

(85, 4)

In [85]:
data

,variable,question_text,possible_values,notes
0,general_connected,"In general, how connected do you feel to peopl...","Not at all connected, A little connected, Fair...",NaN
1,general_supported,"In general, how supported do you feel by peopl...","Not at all supported, A little supported, Fair...",NaN
2,general_lonely,"In general, how lonely do you feel? By lonely,...","Not at all lonely, A little lonely, Fairly lon...",NaN
3,loneliness_scale_neg_1,How often do you feel that you lack companions...,"Never, Rarely, Sometimes, Always, DK/NR",NaN
4,loneliness_scale_neg_2,How often do you feel left out?,"Never, Rarely, Sometimes, Always, DK/NR",NaN
...,...,...,...,...
80,internet_access,"Do you have access to the Internet in any way,...","No, Yes, DK/NR",NaN
81,internet_used_7d,Have you used the Internet in the past seven d...,"No, Yes, DK/NR, (Does not apply)",Question only asked if internet_access is Yes....
82,mobile_phone_internet,Can your mobile phone be used to access the In...,"No, Yes, DK/NR, (Does not apply)",Question only asked if mobile_phone is Yes. Al...
83,loneliness_neg_composite,NaN,[scores range 1-4],"Mean of loneliness_scale_neg_1, loneliness_sca..."
84,support_composite,NaN,[scores range 1-4],"Mean of support_scale_1, support_scale_2, supp..."

In [76]:
data.isnull().sum()

country                          0
variable                         0
value                           14
estimate_weighted                0
estimate_weighted_se             0
estimate_weighted_95ci_low       0
estimate_weighted_95ci_upp       0
n_unweighted                     0
question_text                   28
notes                         1938
dtype: int64

In [77]:
data.columns.tolist()

['country',
 'variable',
 'value',
 'estimate_weighted',
 'estimate_weighted_se',
 'estimate_weighted_95ci_low',
 'estimate_weighted_95ci_upp',
 'n_unweighted',
 'question_text',
 'notes']

In [78]:
data.head()

,country,variable,value,estimate_weighted,estimate_weighted_se,estimate_weighted_95ci_low,estimate_weighted_95ci_upp,n_unweighted,question_text,notes
0,BR,general_connected,Not at all connected,0.064963,0.006610,0.053145,0.079189,134,"In general, how connected do you feel to peopl...",NaN
1,BR,general_connected,A little connected,0.397393,0.013689,0.370889,0.424512,785,"In general, how connected do you feel to peopl...",NaN
2,BR,general_connected,Fairly connected,0.297877,0.011783,0.275304,0.321481,581,"In general, how connected do you feel to peopl...",NaN
3,BR,general_connected,Very connected,0.234647,0.011834,0.212246,0.258637,483,"In general, how connected do you feel to peopl...",NaN
4,BR,general_connected,DK/NR,0.005120,0.001230,0.003196,0.008193,17,"In general, how connected do you feel to peopl...",NaN

In [80]:
data.question_text.unique()

array(['In general, how connected do you feel to people? By connected, I mean how close you feel to people emotionally. Do you feel...?',
       'In general, how supported do you feel by people? By supported, I mean how much you feel cared for by people. Do you feel...?',
       'In general, how lonely do you feel? By lonely, I mean how much you feel emotionally isolated from people. Do you feel...?',
       'How often do you feel that you lack companionship?',
       'How often do you feel left out?',
       'How often do you feel isolated from others?',
       'How often do you feel that there are people who really understand you?',
       'How often do you feel that there are people you can talk to?',
       'How often do you feel that there are people you can turn to?',
       'Suppose that you needed someone to take care of you if you were sick or injured. How often would this type of support or help be available to you?',
       'Suppose that you needed someone to loan you money. How often would this type of support or help be available to you?',
       'Suppose that you needed someone you can count on to listen to you when you need to talk. How often would this type of support or help be available to you?',
       'Suppose that you needed someone who makes you feel loved and cared for. How often would this type of support or help be available to you?',
       'Suppose that you needed someone to do something fun with. How often would this type of support or help be available to you?',
       'Would you say that the people you interact with are mostly kind or mostly mean?',
       'Would you say that the people you interact with are mostly trustworthy or mostly untrustworthy?',
       'In general, how satisfied or dissatisfied are you with your relationships with people?',
       'In general, do you feel that you interact with people too much, just enough, or too little?',
       'In general, how often do you experience conflict with or argue with people?',
       'Now, in general, how often do you experience conflict with or argue with your FRIENDS?',
       'In general, how often do you interact with people in ways that are very meaningful to you?',
       'Now, in general, how often do you interact with your FRIENDS in ways that are very meaningful to you?',
       'Do you personally think that social media makes people feel more connected or less connected to other people? By connected, I mean how close people feel to other people emotionally.',
       'Do you personally think that social media makes people feel more supported or less supported by other people? By supported, I mean how much people feel cared for by other people.',
       'Do you personally think that social media makes people feel more lonely or less lonely? By lonely, I mean how much people feel emotionally isolated from other people.',
       'How often did you interact with friends or family who live far away in the past 7 days?',
       'How often did you interact with friends or family who live with you or near you in the past 7 days?',
       'How often did you interact with people from work or school in the past 7 days?',
       'How often did you interact with neighbors or people who live near you in the past 7 days?',
       'How often did you interact with people from groups you are a part of based on shared interests or beliefs in the past 7 days?',
       'How often did you interact with strangers or people you dont know in the past 7 days?',
       'How often did you interact with people in person in the past 7 days?',
       'How often did you interact with people through a phone call or a voice call in the past 7 days?',
       'How often did you interact with people through a video call in the past 7 days?',
       'How often did you interact with people through email in the past 7 days?',
       'How often did you interact with people through text message, instant message, or SMS in the past 7 days?',
       'How often did you interact with people through social media, for example [insert top 5 social media platforms in each country] in the past 7 days?',
       'How often did you interact with people through an online game, video game, or virtual reality game in the past 7 days?',
       'For this next question, please think of a CLOSE friend as someone you can talk with about things that are most important to you, including sensitive issues. Overall, about how many CLOSE friends would you say you have?',
       'Now, think about ALL the friends you may have, including your close friends and ANYONE ELSE you would consider a friend. Overall, about how many friends would you say you have?',
       'How many of your friends have different beliefs about religion than you?',
       'How many of your friends have different political views than you?',
       'How often did you NEED support or help from someone in the past 30 days?',
       'Did you interact with friends or family who live far away to get support or help in the past 30 days?',
       'Did you interact with friends or family who live with you or near you to get support or help in the past 30 days?',
       'Did you interact with people from work or school to get support or help in the past 30 days?',
       'Did you interact with neighbors or people who live near you to get support or help in the past 30 days?',
       'Did you interact with people from groups you are a part of based on shared interests or beliefs to get support or help in the past 30 days?',
       'Did you interact with strangers or people you dont know to get support or help in the past 30 days?',
       'Did you interact with people in person to get support or help in the past 30 days?',
       'Did you interact with people through a phone call or a voice call to get support or help in the past 30 days?',
       'Did you interact with people through a video call to get support or help in the past 30 days?',
       'Did you interact with people through email to get support or help in the past 30 days?',
       'Did you interact with people through text message, instant message, or SMS to get support or help in the past 30 days?',
       'Did you interact with people through social media, for example [insert top 5 social media platforms in each country] to get support or help in the past 30 days?',
       'Have you used WhatsApp to interact with people to get support or help in the past 30 days?',
       'Have you used Facebook or Facebook Messenger to interact with people to get support or help in the past 30 days?',
       'Have you used Instagram to interact with people to get support or help in the past 30 days?',
       'Have you used [insert top 1st social app/site in that country] to interact with people to get support or help in the past 30 days?',
       'Have you used [insert top 2nd social app/site in that country] to interact with people to get support or help in the past 30 days?',
       'Have you used [insert top 3rd social app/site in that country] to interact with people to get support or help in the past 30 days?',
       'How often did you RECEIVE support or help from someone in the past 30 days?',
       'How often did you GIVE someone support or help in the past 30 days?',
       'Have you donated money to a charity in the past 30 days?',
       'Have you volunteered your time to an organization in the past 30 days?',
       'Compared to before the [insert local term for coronavirus] pandemic, do you now feel more connected to people, less connected to people, or the same as you did before? By connected, I mean how close you feel to people emotionally.',
       'Compared to before the [insert local term for coronavirus] pandemic, do you now feel more supported by people, less supported by people, or the same as you did before? By supported, I mean how much you feel cared for by people.',
       'Compared to before the [insert local term for coronavirus] pandemic, do you now feel more lonely, less lonely, or the same as you did before? By lonely, I mean how much you feel emotionally isolated from people.',
       'Have you used ANY social media, for example [Insert 5 local social media examples] in the past 30 days?',
       nan, 'Please tell me your age.',
       'Including yourself, how many people, age 15 or older, currently live in this household?',
       'How many children under 15 years of age are now living in your household?',
       'What is your current marital status?',
       'More specifically, how many years of formal education have you completed? Count the number of years by beginning with the first year of primary education.',
       'Which of the following best describes your current employment status?',
       "Which one of these phrases comes closest to your own feelings about your household's income these days?",
       'Respondent lives in:',
       'Do you have a landline telephone in your home that you use to make and receive PERSONAL calls?',
       'Do you have a mobile phone that you use to make and receive PERSONAL calls?',
       'Do you have access to the Internet in any way, whether on a mobile phone, a computer, or some other device?',
       'Have you used the Internet in the past seven days, whether on a mobile phone, a computer, or some other device?',
       'Can your mobile phone be used to access the Internet?'],
      dtype=object)

In [47]:
gasoline = pd.read_csv("http://open.africa/dataset/06088746-ecf4-46ce-9519-fec313a6ca93/resource/0f516487-6b69-48c7-bf23-f4396179a8c8/download/mama-na-mwana-system-statistics.csv")
gasoline.head()

                                            Category Quantity
0                         Mama na Mwana users (2022)   19,499
1                Mama na Mwana users (November 2023)   97,261
2                         Female Mama na Mwana users   94,255
3                           Male Mama na Mwana users    3,006
4  Regions where Mama na Mwana is running (mainla...       10

In [44]:
gasoline.shape

(531, 7)